# Set this to the URL of your craft install, appended by the endpoint your graphql is configured
CRAFT_URL=http://verse-craft.test/graphql 
# Bearer Token created for Craft CMS Authorization.
BEARER_TOKEN='VgnPWspMaxPM4xXfWJzwWZsxcKuG4aQJ'